
  <nav class="navbar navbar-light bg-light persAc-navbar">
    <div class="dropdown">
      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Виберіть домоволодіння:
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <% for(var i=0; i < homeAllInf.length; i++) { %>
          <% if(homeAllInf[i].apartment == "0"){ %>
            <li><a class="dropdown-item drop-home-active-check"  href="<%=curentURLPlace%>?curentHome=<%=homeAllInf[i].personal_account%>"><%= homeAllInf[i].settlement+', вул.'+homeAllInf[i].street+', буд.'+homeAllInf[i].house%></a></li>
         <% }else{ %>
          <li><a class="dropdown-item drop-home-active-check"  href="<%=curentURLPlace%>?curentHome=<%=homeAllInf[i].personal_account%>"><%= homeAllInf[i].settlement+', вул.'+homeAllInf[i].street+', буд.'+homeAllInf[i].house+', кв.'+homeAllInf[i].apartment %></a></li>
          <% } %>
       <% } %>
      </ul>
    </div>
    <form class="form-inline custom-navbar">
      <a href="/personal-account"><button class="btn btn-primary btn-pers-Ac-navbar" type="button"><img class="persAc-navbar-icon" src="/images/home.png">Головна</button></a>
      <a href="/personal-account/readings"><button class="btn btn-primary btn-pers-Ac-navbar" type="button"><img class="persAc-navbar-icon" src="/images/plumbing.png">Показання</button></a>
      <a href="/personal-account/payments"><button class="btn btn-primary btn-pers-Ac-navbar" type="button"><img class="persAc-navbar-icon" src="/images/payments.png">Розрахунок</button></a>
      <a href=""><button class="btn btn-primary btn-pers-Ac-navbar" type="button"><img class="persAc-navbar-icon" src="/images/statistic.png">Статистика</button></a>
      <a href="/personal-account/add-persAc"><button class="btn btn-primary btn-pers-Ac-navbar" type="button"><img class="persAc-navbar-icon" src="/images/plus.png">Додати рахунок</button></a>
    </form>
  </nav>
  